.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}


.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border: none;
  padding: 10px 20px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}